<div class="h-screen overflow-hidden grid" id="app">
  <div class="p-3 border-b border-gray-700 grid" id="toolbar">
    <h1 class="font-bold">Symphony</h1>
  </div>

  <div class="grid" id="main">
    <div class="w-64 border-r border-gray-700 grid grid-cols-1" id="sidebar">
      <div class="p-4">
        <div class="p-2 cursor-pointer hover:bg-gray-100 hover:text-gray-900 rounded">Images</div>
        <div class="p-2 cursor-pointer hover:bg-gray-100 hover:text-gray-900 rounded">Instances</div>
        <div class="p-2 cursor-pointer hover:bg-gray-100 hover:text-gray-900 rounded">Networks</div>
        <div class="p-2 cursor-pointer hover:bg-gray-100 hover:text-gray-900 rounded">Volumes</div>
      </div>
    </div>

    <div class="overflow-x-hidden overflow-y-auto" id="content">
      <div class="flex flex-col h-full">
        <p>Whats up chat?</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
